/*MAIN SETTINGS*/
:root{
    --primary-color:#fff4e2;
    --secondary-color:#b79280;
    --light-color:#ffff;
    --dark-color:#68302d;
    --grey-color:#d8c1ad;
    
    --header-title-font:Poppins-bold;
    --section-title-font:Poppins-semibold;
    --text-font: Poppins;
    --menu-font: Poppins-bold;
    --banner-subtitle-font:Poppins-light;
    --banner-title-font:Poppins;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--text-font);
}
@font-face {
    font-family: Poppins;
    src: url('./assets/fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: Poppins-bold;
    src: url('./assets/fonts/Poppins-Bold.ttf');
}
@font-face {
    font-family: Poppins-extrabold;
    src: url('./assets/fonts/Poppins-ExtraBold.ttf');
}
@font-face {
    font-family: Poppins-semibold;
    src: url('./assets/fonts/Poppins-SemiBold.ttf');
}
@font-face {
    font-family: Poppins-light;
    src: url('./assets/fonts/Poppins-Light.ttf');
}

body{
    background-color: var(--grey-color);
}
/*header*/
nav{
    background-color: #68302da5;
    color: var(--secondary-color);
}

.navbar-expand-lg{
    color: var(--light-color);
}

.conteiner-fluid{
    justify-content: space-between;
}
nav a{
    color: var(--light-color);
}

@media(max-width:800px){
    .menu-mobile{
        display: flex;
    }
    .menu-screen{
        display:none;
    }
}

@media(max-width:1300px){
    .header-content{
        flex-direction: column;
    }
    .header-content-text{
        margin-left: 20px;
    }
    .header-title{
        font-size: 40px;
    }
    .header-subtitle{
        font-size: 20px;
    }
    .header-content-text p{
        font-size: 14px;
    }
    .btn{
        padding: 10px 30px;
    }
    .header-img{
        margin: 50px 10px;
        width: 95%;
        height: 100%;
        max-width: 500px;
    }
}

/*carousel section*/
.carousel-section{
    margin: 35px;
    max-width: 95vw;
}

.carousel-inner{
    max-height: 80vh;
}

.carousel-item{
    object-fit: contain;
    object-position: center;
}

/*banner*/
.banner{
    background-color: var(--dark-color); 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    margin-bottom: 50px;
}

.banner-content{
    display: flex;
    justify-content: center;
}

.banner-content-text{
    max-width: 500px;
    color: var(--light-color);
    display: flex;
    flex-direction: column;
}

.banner-title{
    font-size: 48px;
    font-family: var(--banner-title-font) ;
}

.banner-subtitle{
    font-size: 20px;
    font-family: var(--banner-subtitle-font);
}

.banner-content-btns{
    margin-top: 40px;
}

.banner-img{
    margin: 5px 25px;
}

@media(max-width:800px) {
    .banner-content{
        flex-direction: column;
    }
}



.btn{
    color: var(--light-color);
    padding: 15px 60px;
    border: 2px solid var(--light-color);
    text-decoration: none;
    margin: 0px 5px;
}

.btn:hover{
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}

.btn-secondary{
    color: var(--secondary-color);
    padding: 15px 60px;
    border: 2px solid var(--secondary-color);
    text-decoration: none;
    margin: 0px 5px;
}

.btn-primary-full{
    color: var(--light-color);
    padding: 15px 60px;
    border: 2px solid var(--secondary-color);
    text-decoration: none;
    margin: 0px 5px;
    background-color: var(--secondary-color);
}

.btn-primary-full:hover{
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    background-color: var(--primary-color);
}

.info-btn{
    color: var(--light-color);
    padding: 15px 60px;
    border: 2px solid var(--dark-color);
    background-color: var(--dark-color);
    text-decoration: none;
    max-width: 150px;
    border-radius: 25px;
    margin-top: 40px;
    cursor: pointer;
}

.info-btn:hover{
    color: var(--dark-color);
    background-color: transparent;
}

/*PRODUCTS SECTION*/

.products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:50px;
    background-color: var(--primary-color);
}

.section-title{
    text-transform: uppercase;
    font-size: 26px;
    font-family: var(--section-title-font);
    border-bottom: 1px solid var(--secondary-color);
    margin-bottom: 25px;
}

.products-container{
    background-color: var(--light-color);
    width: 1100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 25px;
    margin-bottom: 100px;
}

.product-card{
    width: 203px;
    display: flex;
    flex-direction: column;
    margin:60px;
}

.product-card a {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 10px;
    width: 100%;
    text-decoration: none;
    text-align: center;
}

@media(max-width:1100px){
    .products-container{
        width: 96%;
    }
}

/*banner*/
.info{
    background-color: var(--secondary-color); 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    
}

.info-content{
    display: flex;
    justify-content: center;
}

.info-content-text{
    max-width: 500px;
    color: var(--dark-color);
    display: flex;
    flex-direction: column;
}

.info-title{
    font-size: 48px;
    font-family: var(--banner-title-font) ;
}

.info-subtitle{
    font-size: 20px;
    font-family: var(--banner-subtitle-font);
}

.info-content-btns{
    margin-top: 40px;
}

.info-img{
    margin: 5px 25px;
}

@media(max-width:800px) {
    .info-content{
        flex-direction: column;
    }
}

/*FOOTER*/

.footer{
    background-color: var(--dark-color);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.copyright{
    width: 1200px;
    color: var(--light-color);
    border-top: 1px solid var(--light-color);
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.footer-content{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-bottom: 25px;
}

.footer-content a{
    text-decoration: none;
    color: var(--light-color);
    font-size: 34px;
    font-family: var(--header-title-font);
}

.footer-card{
    width: 300px;
    padding: 20px;
    color: var(--light-color);
}

.footer-card h5{
    font-size: 20px;
}

.footer-card p{
    font-size: 14px;
    text-align: left;
}
.sub-input{
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 0;
    font-family: var(--section-title-font);
}


.sub-btn{
    color: var(--light-color);
    padding: 7px 30px;
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    text-decoration: none;
    border-radius: 10px;
    margin-top: 5px;
    cursor: pointer;
}

.sub-btn:hover{
    color: var(--secondary-color);
    background-color: transparent;
}

.social-icons a{
    color: var(--light-color);
    font-size: 24px;
    margin: 5px;
}

@media(max-width:1200px){
    .footer-content{
        width: 96%;
    }
    .copyright{
        width: 96%;
    }
}
/*END FOOTER*/
